@model VGStore.Models.ViewModels.ProductosVM

@{ 
    var titulo = "Crear Producto";
}
<form method="post" enctype="multipart/form-data">
    @if (Model.Productos.IdProducto != 0)
    {
        titulo = "Editar producto";
        <input asp-for="Productos.IdProducto" hidden />
    }

    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@titulo</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.Nombre"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Productos.Nombre" class="form-control" />
                        <span asp-validation-for="Productos.Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.Precio"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Productos.Precio" class="form-control" />
                        <span asp-validation-for="Productos.Precio" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.DescripcionCorta"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Productos.DescripcionCorta" class="form-control" style="resize:none" />
                        <span asp-validation-for="Productos.DescripcionCorta" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.Descripcion"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Productos.Descripcion" id="summernote" class="form-control" style="resize:none"></textarea>
                        <span asp-validation-for="Productos.Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.Imagen"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" class="form-control p-1" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.IdCategory"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Productos.IdCategory" asp-items="Model.CategoriasSelectList" class="form-control">
                            <option disabled selected>--Seleccionar Categoria--</option>
                        </select>
                        <span asp-validation-for="Productos.IdCategory" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Productos.IdConsole"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Productos.IdConsole" asp-items="Model.ConsolasSelectList" class="form-control">
                            <option disabled selected>--Seleccionar Consola--</option>
                        </select>
                        <span asp-validation-for="Productos.IdConsole" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Productos.IdProducto != 0)
                            {
                                //editar
                <input type="submit" class="btn btn-info w-100" value="Editar" /> }
            else
            {
                //crear
            <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Crear" />}

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-100"><i class="fas fa-reply"></i> &nbsp;Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @if (Model.Productos.IdProducto != 0)
                {
                    <img src="@WC.ProductosPath@Model.Productos.Imagen" style="width:100%; border-radius: 5px; border: 1px solid #bbb" />
                }

            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{
       <partial name="_ValidationScriptsPartial" /> 
    }
    <script>
        function validateInput() {
            if (document.getElementById('uploadBox').value == "") {
                Swal.fire(
                    'Error!',
                    'Por favor subir una imagen!',
                    'error'
                )
            }
        }
    </script>
    <script>$(document).ready(function () {
        $('#summernote').summernote({
            height: 200,
            lang: 'es-ES'
        });
    });</script>
}


