@model VGStore.Models.Consoles
<form method="post">
    <input asp-for="IdConsole" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Editar Categoría</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Description" id="summernote" class="form-control" style="resize:none"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Editar" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-100"><i class="fas fa-reply"></i> &nbsp;Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{ 
        <partial name="_ValidationScriptsPartial" />
    }
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 250,
            width: 500,
            lang: 'es-ES'
        });
    });
</script>
}

